services:
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: "${E2E_S3_ACCESS_KEY}"
      MINIO_ROOT_PASSWORD: "${E2E_S3_SECRET_KEY}"
    volumes:
      - "${E2E_S3_DATA_DIR}:/data"
  trc:
    build:
      context: ../..
      dockerfile: packages/e2e/docker/Dockerfile.server
    ports:
      - "${E2E_TRC_PORT}:3000"
    depends_on:
      - minio
    volumes:
      - "${E2E_CONFIG_DIR}:/config"
    environment:
      TRC_CONFIG: /config/trc.yaml
  runner:
    build:
      context: ../..
      dockerfile: packages/e2e/docker/Dockerfile.runner
    user: "${E2E_UID:-0}:${E2E_GID:-0}"
    depends_on:
      - trc
    volumes:
      - "${E2E_EXAMPLE_DIR}:/workspace"
      - "${E2E_CACHE_DIR}:/workspace/.turbo"
    environment:
      TURBO_TOKEN: "${E2E_TURBO_TOKEN}"
  minio-client:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: /bin/sh
