services:
  trc:
    image: trc-e2e-server:latest
    ports:
      - "${E2E_TRC_PORT}:3000"
    volumes:
      - "${E2E_CONFIG_DIR}:/config"
      - "${E2E_STORAGE_DIR}:/data"
    environment:
      TRC_CONFIG: /config/trc.yaml
    networks:
      - e2e
  runner:
    image: trc-e2e-runner:latest
    depends_on:
      - trc
    volumes:
      - "${E2E_CACHE_DIR}:/workspace/examples/basic/.turbo"
    environment:
      TURBO_TOKEN: "${E2E_TURBO_TOKEN}"
      E2E_TURBO_API_URL: "${E2E_TURBO_API_URL}"
      TURBO_CACHE_DIR: /workspace/examples/basic/.turbo/cache
      TURBO_LOG_DIR: /workspace/examples/basic/.turbo/cache
    networks:
      - e2e

networks:
  e2e:
    name: "${E2E_NETWORK_NAME}"
